.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #879dde;
  clip-path: circle(0px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}

#active:checked~.wrapper {
  clip-path: circle(75%);
}
.menu-btn {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 49px;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 42px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  cursor: pointer;
  background: #FFD83F;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .menu-btn {
    position: absolute;
    z-index: 2;
    right: 6px;
    top: 79px;
    height: 37px;
    width: 38px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    background: #FFD83F;
    transition: all 0.3s ease-in-out;
  }
}


#active:checked~.menu-btn {
  color: black;
}

#active:checked~.menu-btn i:before {
  content: "\f00d";
}

.wrapper ul {
  position:relative;
  top: 50%;
	left: 50%;
  transform: translate(-58%, 15%);
  list-style: none;
  text-align: center;
}

.cajaMenu {
  top: 15%;
  left: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 10px;
  padding-left: 10px;
  padding-top: 25px;
  
}
.wrapper a {
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 5px;
  color: #FFD83F;
  border-radius: 5px;
  background: #284292;
  position: relative;
  transition: all 0.3s ease;
}


input[type="checkbox"] {
  display: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1;
  text-align: center;
  width: 100%;
  color: #202020;
}

.content .title {
  font-size: 40px;
  font-weight: 700;
}

.content p {
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

body {
  background-color: #284292;
}

h1 {
  color: #FFD83F;
  text-align: center;
}

h2 {
  color: #FFD83F;
  text-align: center;
}

h3 {
  color: #FFD83F;
  text-align: center;
}

p {
  color: white;
  text-align: center;
  font-size: small;
  line-height: 0.75cm;
}

li {
  color: white;
  text-align: center;
}

img {
  margin: auto;
  display: block;
}

.container {
  text-align: center;

  border: 1px transparent #666;
}

.fake_img {
  display: inline-block;
  margin: 5px 20px;
  padding: 5px;

  border: 1px transparent #CCC;
}

@media (min-width: 1250px) 
{
  div.parrafo p {
    padding-right: 100px;
    padding-left: 100px;
  }
}

div.parrafo p {

  color: white;
  padding-right: 30px;
  padding-left: 30px;
  font-size: large;
  line-height: 1cm;
  text-align: justify;
  text-justify: inter-word;
}

div.page-wrap {

  max-width: 1300px;
  margin: 0 auto;
  background: #5f7cd3;
  padding-top: 20px;
  position: relative;
  z-index: 1;
}

.fake_img2 {

  display: inline-block;


  padding: 25px;

  background-position: bottom;
}


.patrocinadoresfondo1 {

  text-align: center;
  width: inherit;
  background-image: url(./Imagenes/fondoblanco2.webp);
  background-repeat: inherit;
  margin-top: 38px;
  background-position: bottom;
}

.collapsible {
  background-color: #332b2b;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  color: #FFD83F;
  text-align: center;
  font-weight: bolder;
  font-size: x-large;

}

.active,
.collapsible:hover {
  background-color: rgb(58, 51, 51);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #332b2b;
}


.developers{
  padding: 20px;
  display: none;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 768px) {
  .developers {
    flex-direction: column;
  }
}

.developer{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.developeritem{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titulosamarillos{
  color:#fed065;
}

.responsive {
  width: 80%;
  height: auto;
}

.tituloprincipal {

  font-family: Arial, Helvetica, Sans-serif;
  color:rgb(255, 255, 255);
  background-image: url(./Imagenes/fondotitulo3.png);
  padding: 1%;
  background-size: cover;
  background-position: top;
  margin-bottom: 44px;
}

.bloquearvideos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 47px;
}

.video1{
  display: block;
  max-width: 400px;
  height: auto;
}

.video2{
  display: block;
  max-width: 500px;
  height: auto;
}